@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

.App {
  overflow: hidden !important;
}

*::selection {
  background-color: #222;
  color: #fff;
}

body {
  font-family: "PT Serif", serif;
}

.m-s {
  margin: 1rem 0;
}

.m-m {
  margin: 2.5rem 0 !important;
}

.p-s {
  padding: 1rem;
}

.empty_space {
  display: inline-block;
  width: 2rem;
}

.content_container {
  padding: 1.2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header__nav {
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin: 0;
  height: 9vh;
  z-index: 9999;
  position: fixed;
  background-color: #fff;
}
.nav_clear {
  margin-bottom: 9vh;
}

.nav__content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 60%;
  /* justify-content: space-between; */
}

.item {
  margin-right: 1.7rem;
}

.link {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.active {
  background-color: tomato;
  color: #fff !important;
}

.logo {
  margin: 0;
}

/* Reset Styles  */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* Header Style Starts Here  */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 91vh;
  margin: 0 auto;
}

.header__img--container {
  width: 44%;
  /* background-color: antiquewhite; */
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__box {
  width: 50%;
  /* position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%); */
}

.header__title {
  font-size: 2.5rem;
  color: #222;
  letter-spacing: 1px;
  margin: 0;
}

.header__desc {
  margin: 0.5rem 0;
}

.header__link {
  width: fit-content;
  display: block;
  margin: 2rem 0;
  border: 2px solid #222;
  border-radius: 100px;
  padding: 1rem 1.4rem;
  transition: all 0.4s;
}

.header__link:hover {
  background-color: #222;
  color: #fff;
}

/* Sub Navigation Style Start Here */
.sub__nav {
  width: 20%;

  padding-top: 2rem;
  margin-right: 1.2rem;
  position: fixed;
  background-color: rgb(36, 40, 44);
  height: 100vh;
}

.sub__list {
  width: 80%;
  list-style: none;
  padding: 0;
  background-color: #fff;
}

.sub__item {
  width: 100%;
  height: 100%;
  display: block;
  /* padding: 1.2rem 0; */
  text-align: center;
}

.sub__item:not(:last-of-type) {
  border-bottom: 2px solid rgb(39, 39, 39);
}

.sub__link {
  color: #222;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 1.2rem 0;
}

/* Docs Page Style */
.docs {
  width: 100%;

  justify-content: space-between;
  /* background-color: rgb(97, 97, 97); */
}

.docs_content {
  position: relative;
  width: 80%;
  left: 20%;
  justify-content: space-between;
  padding: 3.2rem;
  overflow: hidden !important;
}

.docs_desc {
  line-height: 1.6;
  font-size: 1.2rem;
  width: 90%;
  margin: 1rem 0;
}

.hilight {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #222;
  color: #fff;
  font-weight: bold;
  padding: 0 1.4rem;
  width: fit-content;
  word-spacing: 15px;
  /* margin: 1rem 0; */
  cursor: pointer;
}

.hilight::selection {
  background-color: tomato;
  padding: 0.4rem;
}

.docs__img {
  width: 70%;
  margin: 1rem 0;
}

.note {
  width: 4rem;
  height: 4rem;
  background-color: tomato;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -2rem;
  top: -2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}

.note_danger {
  position: relative;
  width: 90%;
  background-color: tomato;
  color: #fff;
  padding: 1rem 0;
  margin: 3.2rem 0;
  display: block;
  /* font-weight: bold; */
}

.img_step {
  margin-bottom: 1.2rem;
  border: 2px solid #222;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* z-index: 9999; */
}

.Collapsible {
  position: relative;
  background-color: #e6e6e6;
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 90%;
}

.Collapsible:focus {
  outline: hidden !important;
}

.btn-collaps {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-collaps:focus {
  outline: none;
}

.btn-collaps h3 {
  margin-left: 0.6rem;
  color: #fff;
}

.dark {
  width: fit-content;
  background-color: #222;
  padding: 0.2rem 0.6rem;
  color: #fff;
  margin: 0.1rem;
  display: inline-block;
}

.steps_container {
  margin-top: 3rem;
}

.sub_list_item li {
  padding: 1rem 0;
  font-size: 1.2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(all) {
  background-color: #dddddd;
}

.box {
  margin-top: 2rem;
  width: 50%;
  background-color: #222;
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem;
}

.box p {
  line-height: 1;
}

.danger {
  background-color: tomato;
  padding: 0.4rem;
}

.about {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about div:first-of-type {
  margin-right: 1.3rem;
}

.about h2 {
  background-color: #222;
  width: fit-content;
  color: #fff;
  margin-bottom: 0;
  padding: 0.6rem;
}

.about p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.preview-profile {
  height: 100vh;
}

.preview-profile-header {
  height: 60%;
  background-image: linear-gradient(rgba(34, 34, 34, 0.336), rgba(34, 34, 34, 0.37)),
    url("./media/developer/profile-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: relative;
}

.preview-profile-header-box {
  width: 55%;
  min-height: 24rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.preview-profile-header-image-container {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
}

.preview-profile-header-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.preview-profile-header-content {
  position: relative;
  width: fit-content;
  margin: 7rem auto 0 auto;
  text-align: center;
}

.preview-profile-header-content h1 {
  margin: 0 0 1.2rem 0;
  font-size: 1.4rem;
}

.preview-profile-header-content p {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  color: #919191;
  padding: 0 1.2rem;
  line-height: 1.6;
}

.preview-profile-header-icons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.preview-profile-role {
  position: absolute;
  bottom: 0;
  height: fit-content;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  background-color: #222;
}

.preview-profile-role span {
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  color: #fff;
  font-weight: bold;
}

.textCopied-parent {
  width: fit-content;
  position: relative;
  display: flex;
}

.textCopied {
  text-align: center;
  background-color: rgb(0, 199, 0);
  color: #fff;
  z-index: 99999;
  position: absolute;
  transition: all 0.4;
  top: 0;
  right: -6rem;
  font-size: 1.2rem;
}

.shown {
  width: 6rem;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 99999;
  position: absolute;
}

.icon {
  margin-left: 1.3rem;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: space-around;
    flex-direction: column;
    height: 70vh;
    margin-top: 50%;
  }

  .header__img--container {
    width: 65%;
    /* background-color: antiquewhite; */
  }

  .header__box {
    width: 90%;
  }
}
